# Large data files
data/

# Analysis output
analysis/

# Programs
.envs/

# Jupyter checkpoints
.ipynb_checkpoints/
bin/.ipynb_checkpoints/

# log files
log/

# docs/
docs/summary*
docs/all_figures.*

# Archived scripts
bin/archive/

# Trash (to be trashed)
trash/
